kind: Job
apiVersion: batch/v1
metadata:
  name: data-backup
  labels:
    app: data-backup
spec:
      template:
        metadata:
          name: data-backup
        spec:
          volumes:
            - name: mysql-backup-sh
              configMap:
                name: mysql-backup-config
            - name: data-backup
              nfs:
                server: 139.196.106.5      #挂入 NFS 存储2
                path: /data/backup/mysql/
            - name: time-zone               #挂入宿主机的时区文件
              hostPath:
                path: /etc/localtime
          containers:
            - name: data-backup
              image:  mysql:8.0.19      #使用 busybox 镜像执行备份操作
              command:                      #配置要执行的备份命令
                - sh
                - '/var/backup.sh'            
              volumeMounts:
                - name: mysql-backup-sh
                  mountPath: /var/backup.sh
                  subPath: backup.sh
                - name: data-backup         #存储备份数据的 NFS 服务器地址     
                  mountPath: /data-backup  
                - name: time-zone           #挂载系统时区，防止时区产生的影响
                  mountPath: /etc/localtime
          restartPolicy: Never